.header {
  display: flex;
  justify-content: center;
  font-family: "Arial", sans-serif; 
  color: #c81f05;
}

.header img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  margin-top: 15px;
}
